@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


.welcome{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1a3758, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2b3849, #080e18); 
    color: white;
    font-family: 'Raleway', sans-serif;
    display: flex;
}

.heading{
    font-weight: bold;
    padding: 50px 40px 20px 70px;
    font-size: 46px;
}

.content{
    padding: 0px 40px 20px 70px;
    letter-spacing: 1px;
}

.cardObject{
    margin-left: 70px;
    width: 400px;
    height: 250px;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 20px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info{
    height: 20px;
    width: 20px;
    position: relative;
    left: 310px;
}

.eth{
    height: 50px;
    width: 50px;
    position: relative;
    top: 20px;
    left: 20px;
    border: 1px solid white;
    border-radius: 60px;
    padding: 10px;
}

.address{
    color: white;
    position: relative;
    top: 105px;
    left: 20px;
    font-family: 'Raleway', sans-serif;
}

.ethereum{
    color: white;
    position: relative;
    top: 90px;
    left: 20px;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.btn-grad {
    background-image: linear-gradient(to right, #0e1727 0%, #243B55  51%, #141E30  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    margin: 30px 130px 60px 130px;

    font-family: 'Raleway', sans-serif;
    border-color: white;
    text-decoration: none;
  }
  
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }